◊(base-filename (path->string (path-replace-suffix (symbol->string here) "")))
◊;(->html (drop-@-from-attrs (car (process (add-@-to-attrs (cadr doc))))))

◊;<p>Start with: ◊(length (cadr doc)) items; it's:<br/> ◊;|(cadr doc)|
◊;</p>

◊;{<p>
Process to:<br/>
◊;(add-@-to-attrs (cadr doc)).
◊;(process (add-@-to-attrs (cadr doc))).
</p>}

◊;<p>
◊;Finally process to:<br/>
◊(->html (drop-@-from-attrs (car (process (add-@-to-attrs (cadr doc)))))).
◊;</p>

